/.vs/RenderingNebula/FileContentIndex
/.vs/RenderingNebula/v17
/devblog
/GasSloshingLowRes
/input_data
/output/nvdb_512
.vs/
x64/
output/
__pycache__/
*.nvdb
*.ppm
*.vcxproj.user
RenderingNebula/.vs/
RenderingNebula/Project1/x64/
RenderingNebula/Project1/output/
RenderingNebula/Project1/nebula_nvdb/
RenderingNebula/x64/
crab_nebula.nvdb

RenderingNebula/Project1/include/

*.sln
*.vcxproj.filters
